<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gaofei.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <application
        android:name="com.gaofei.app.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.gaofei.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gaofei.app.act.SkipAct" />
        <activity android:name="com.gaofei.app.act.ExceptionAct" />
        <activity android:name="com.gaofei.app.webview.WebViewActivity" />
        <activity android:name="com.gaofei.app.act.RecyclerSwipeAct" />
        <activity android:name="com.gaofei.app.act.KeyboardAct" />
        <activity android:name="com.gaofei.app.act.TestAct" />
        <activity android:name="com.gaofei.app.act.AnnotationAct" />
        <activity android:name="com.gaofei.app.act.ScreenshotAct" />
        <activity
            android:name="com.gaofei.app.act.LayoutAct"
            android:launchMode="singleTask" />
        <activity android:name="com.gaofei.app.act.BroadcastReceiverAct" />
        <activity android:name="com.gaofei.app.act.SetUpAct" />
        <activity android:name="com.gaofei.app.act.ProcessAct" />
        <activity android:name="com.gaofei.app.act.PermissionAct" />
        <activity android:name="com.gaofei.app.act.ReflectAct" />
        <activity android:name="com.gaofei.app.act.TouchEventAct" />
        <activity android:name="com.gaofei.app.act.ViewPagerAct" />
        <activity android:name="com.gaofei.app.act.FragmentAct" />
        <activity android:name="com.gaofei.app.act.EditTextAct" />
        <activity android:name="com.gaofei.app.act.DataBindingAct" />
        <activity android:name="com.gaofei.app.act.TaskActivity" />
        <activity android:name="com.gaofei.app.act.AnrAct" />
        <activity android:name="com.gaofei.app.act.webview.WebViewActivity" android:process=".webView"/>
        <activity android:name="com.gaofei.app.act.webview.WebViewTransferPageAct" />
        <activity android:name="com.gaofei.app.act.webview.GlobalWebViewActivity" />
        <activity android:name="com.gaofei.app.act.AIDLActivity" />
        <activity android:name="com.gaofei.app.act.ReferenceAct" />
        <activity android:name="com.gaofei.app.act.GLSurfaceAct" />
        <receiver android:name="com.gaofei.app.anr.TestBroadCastReceiver" >
            <intent-filter>
                <action android:name="TestBroadCastReceiver"/>
            </intent-filter>
        </receiver>
        <activity
            android:name=".CanvasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.gaofei.app.act.BarrageAnimationAct"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.gaofei.app.act.ClockSetUpActivity" />
        <activity android:name="com.gaofei.app.act.ClockStartActivity"  android:theme="@style/AppTheme.NoActionBar"/>

        <receiver android:name=".act.ClockBroadcastReceiver">
            <intent-filter>
                <action android:name="SIGN_IN_CLOCK"></action>
            </intent-filter>
        </receiver>

        <receiver android:name="com.gaofei.app.broadcast.BroadcastReceiverTest">
            <intent-filter>
                <action android:name="android.intent.action_Broadcast_Receiver_Test" />
            </intent-filter>
        </receiver>

        <provider
            android:authorities="com.test.demo.fileprovider"
            android:exported="true"
            android:name="TestContentProvider"></provider>

        <activity android:name="com.gaofei.app.TaskAffinityAct"  android:allowTaskReparenting="false" android:exported="true"> </activity>

        <activity android:name=".TransparentAct"  android:taskAffinity="com.aa" />
        <activity android:name=".act.OKHttpClientAct"   />
    <activity android:name=".act.RXJavaAct" />
    <activity android:name=".act.NestedAct" />
    </application>

</manifest>